.container {
  display: flex;
  flex-direction: column;
}

.bg {
  height: 100vh;
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #38b6ff;
  width: 50%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.right__content {
  padding: 10px 8px;
  color: #fff;
}

.right__content p {
  font-size: 1rem;
  font-family: sans-serif;
}

.right__content h1 {
  font-size: 3rem;
  font-family: serif;
  max-width: 450px;
}

.right__content .buttons_holder {
  display: flex;
  justify-content: space-between;
}

.signup {
  padding: 10px 2.7rem;
  font-weight: bolder;
  font-size: 1.3rem;
  border-radius: 12px;
  background-color: #066cbd94;
  border: 3px solid #066cbd94;
  cursor: pointer;
  color: #fff;
}

.signup:hover {
  background-color: transparent;
  border: 3px solid #067bdb94;
}

@media screen and (max-width: 425px) {
  .bg {
    flex-direction: column;
  }

  .right {
    width: 100%;
  }

  .right__content p {
    text-align: center;
  }

  .right__content h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  .signup {
    padding: 10px 1.7rem;
  }

  .right__content .buttons_holder {
    justify-content: space-evenly;
  }
}
