@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lora&family=Mulish:wght@200;300&family=Oswald:wght@300&display=swap");

.container {
  display: flex;
  flex-direction: column;
}
.bg {
  height: 100vh;
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #38b6ff;
  width: 50%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.signup__content {
  padding: 10px 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signup__content p {
  font-size: 1rem;
  font-family: sans-serif;
}

.signup__content label {
  font-family: cursive;
  font-size: larger;
}

.right h2 {
  font-family: serif;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: -1px;
}

.signup {
  padding: 8px 8.5rem;
  font-weight: bolder;
  font-size: 1.3rem;
  background-color: #066cbd94;
  border: 3px solid #066cbd94;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  margin-top: 20px;
}

.signup:hover {
  background-color: #067bdb94;
  border: 3px solid #067bdb94;
}

.signup__content input {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid #067bdb94;
  padding: 8px 5px 8px 30px;
  width: 90%;
  color: #fff;
  font-size: larger;
  margin-top: -10px;
}

.signup__content .div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
}

.input_holder {
  position: relative;
}

input:focus {
  outline: none !important;
}

.icon {
  position: absolute;
  color: black;
  left: 10px;
  top: 4px;
}

.text {
  margin-left: 16px;
  font-style: italic;
}

.colored {
  color: #033755;
  font-weight: bold;
  font-style: italic;
}

.row {
  display: flex;
  align-items: center;
  gap: 3px;
}
